<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
{% if title %}
    {{ title }}
{% else %}
      mac
{% endif %}
</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='mac.css') }}">
</head>

<body>
  {% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
      {% for message in messages %}
        {{message}}
      {% endfor %}
  {% endif %}
  {% endwith %}
  {% block content %}
  {% endblock %}
</body>
</html>
