{% extends 'layout.html'%}
{% block content %}
<form method="post" action="">
  {{form.hidden_tag()}}
  {{form.email.label()}}
  {{form.email()}}
  {% if form.email.errors %}
    {% for error in form.email.errors%}
     {{error}}
    {% endfor %}
  {% endif %}
  {{form.password.label()}}
  {{form.password()}}
  {% if form.email.errors %}
    {% for error in form.email.errors%}
     {{error}}
    {% endfor %}
  {% endif %}
  {{form.remember.label()}}
  {{form.remember()}}
  {% if form.remember.errors %}
    {% for error in form.remember.errors%}
     {{error}}
    {% endfor %}
  {% endif %}
  {{form.submit()}}
</form>
{% endblock content%}
